<% layout('layout/boiler_plate')%>

<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

<script type="text/javascript">
    var x=11;
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ["name", "number_of_quantity"],

      <% for(var i=0; i<allsalesforpie.length; i++) {%>

          [`<%= allsalesforpie[i].item_name %>`, <%= allsalesforpie[i].total %>],

        <% } %>


    ]);

    var options = {
      title: "My Daily Activities",
      is3D: true,
    };

    var chart = new google.visualization.PieChart(
      document.getElementById("piechart_3d")
    );
    console.log(data)
    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load("current", { packages: ["bar"] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    let arr = new Array(13); for (let i=0; i<13; ++i) arr[i] = 0;
    let arr1= new Array(13); for (let i=0; i<13; ++i) arr1[i] = 0;

        <% for(var j=0; j<allsales.length; j++) {%>
          <%if( filter==0){%>
            arr[ <%= allsales[j].date.getMonth() +1 %> ] = arr[<%= allsales[j].date.getMonth() +1 %> ] +  <%= allsales[j].quantity %> ;
            arr1[ <%= allsales[j].date.getMonth() +1 %> ] = arr1[<%= allsales[j].date.getMonth() +1 %> ] +  <%= allsales[j].quantity %>*<%= allsales[j].unit_price %> ;
          <%}else if(allsales[j].item_code==filter){%>
            arr[ <%= allsales[j].date.getMonth() +1 %> ] = arr[<%= allsales[j].date.getMonth() +1 %> ] +  <%= allsales[j].quantity %> ;
            arr1[ <%= allsales[j].date.getMonth() +1 %> ] = arr1[<%= allsales[j].date.getMonth() +1 %> ] +  <%= allsales[j].quantity %>*<%= allsales[j].unit_price %> ;
          <%}%>
        <% } %>

    var data = google.visualization.arrayToDataTable([
      ["Month","Quantity","₹ Sales "],

      ["January", arr[1],arr1[1]],
      ["February", arr[2],arr1[2]],
      ["March", arr[3],arr1[3]],
      ["April", arr[4],arr1[4]],
      ["May", arr[5],arr1[5]],
      ["June", arr[6],arr1[6]],
      ["July",arr[7],arr1[7]],
      ["August", arr[8],arr1[8]],
      ["September", arr[9],arr1[9]],
      ["October",arr[10],arr1[10]],
      ["November", arr[11],arr1[11]],
      ["December",arr[12],arr1[12]],
    ]);

    var options = {
      chart: {
        title: "Company Performance",
        subtitle: "Sales Quantity",
      },
    };

    var chart = new google.charts.Bar(
      document.getElementById("columnchart_material")
    );

    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
  function printDiv(divName) {
		console.log("HHHHHHHH")
    var divContents = document.getElementById(divName).innerHTML;
        var a = window.open('', '', 'height=500, width=500');
        a.document.write('<html>');
        a.document.write('<body >');
        a.document.write(divContents);
        a.document.write('</body></html>');
        a.document.close();
        a.print();
	}
</script>

<div class="total" id="printableArea" style="margin: auto; ">
  <h1>Stat</h1>
  <div class="first" id="piechart_3d"></div>

  <p><%=filter%></p>
  <p></p>

  <form action="/stat" method="POST">
    <label for="filter">Choose options:</label>
    <select id="filter" name="filter">
      <option value="0">Total</option>
      <%for(var j=0; j<allDetails.length; j++) {%>
        <option value="<%=allDetails[j].item_code%>"><%=allDetails[j].item_name%></option>
      <%}%>
    </select>
    <button type="submit"> Submit </button>
  </form>

  <div class="second" id="columnchart_material"></div>
</div>

<br><br>
<div class="text-center">
	<input type="button" class="btn btn-primary btn-lg" onclick="printDiv('printableArea')" value="Print" />
</div>
<br><br>

<style>
  .first {
    width: auto;
    height: 500px;
    display: block;
  }
  .second {
    width: auto;
    height: 500px;
    display: block;
  }

  @media screen and (max-width: 500px) {
    .first,
    .second {
      width: auto;
    }
    .total {
      flex-direction: column;
    }
  }
</style>
